.container{
    height: 45vh;
    width: 30vw;
    margin: 20px;
    background-color: coral;
    border: 10px;
    border-radius: 5px;
    border-style: inset;
    border-color:deeppink;
    z-index:-10;
}

.item{
    height: 10%;
    width: 10%;
    margin: 20px;
    background-color: darkgoldenrod;
    color: darkgreen;
    font-size: 1.4em;
    font-style: italic;
    border: 10px;
    border-radius: 5px;
    border-style: groove;
    border-color: blueviolet;

}


/*Position can be of five types- static, relative, absolute, fixed, sticky.*/
.container.one > .item.three{
    position: relative;
    left: 125px;
    bottom: 50px;
    z-index:5;
   
}

/*.container.one{
    z-index:20;
}*/
